
.destinations-itens {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    
}

.destinations .item .img-item {

    width: 100%;
    height: 368px;
}

.destinations .item.tokyo .img-item {

    background: url(../img/tokyo-mobile.jpg) no-repeat;
    background-size: cover;
}

.destinations .item.osaka .img-item {

    background: url(../img/osaka-mobile.jpg) no-repeat;
    background-size: cover;
}

.destinations .item.hiroshima .img-item {

    background: url(../img/img-hiroshima-blog-mobile.png) no-repeat;
    background-size: cover;
}

.destinations .item.kyoto .img-item {

    background: url(../img/img-kyoto-blog-mobile.png) no-repeat;
    background-size: cover;
}

.destinations .item header h3 {

    margin: 24px 0px;
}

.destinations .item p {

    margin-bottom: 24px;
}

.destinations .button {

    width: 100%;
    text-align: center;
}


@media screen and (min-width: 768px) {
    
    .destinations {

        width: 648px;
    }

    .destinations .item .img-item {

        width: 100%;
        height: 452px;
    }

    .destinations .item.tokyo .img-item {

        background: url(../img/tokyo-tablet.jpg) no-repeat;
        background-size: cover;
    }   

    .destinations .item.osaka .img-item {

        background: url(../img/osaka-tablet.jpg) no-repeat;
        background-size: cover;
    }

    .destinations .item.hIroshima .img-item {

        background: url(../img/img-hiroshima-blog-tablet.png) no-repeat;
        background-size: cover;
    }

    .destinations .item.kyoto .img-item {

        background: url(../img/img-kyoto-blog-tablet.png) no-repeat;
        background-size: cover;
    }

    .destinations .button {

        width: 280px;
    }

}

@media screen and (min-width: 1024px) {
    
    .destinations {

        width: 900px;
    }

    .destinations .item .img-item {

        width: 100%;
        height: 452px;
    }

}

@media screen and (min-width: 1440px) {
    
    .destinations {

        width: 1200px;
    }

    .destinations .item .img-item {

        width: 100%;
        height: 452px;
    }

    .destinations-itens {

        flex-direction: row;
    }

}