.bottom-hero {

    width: 100%;
    margin: 0;
}

.bottom-hero-pacotes {

    width: 100%;
    margin: 0;
}

.bottom-hero-contatos {

    margin-top: 88px;
    width: 100%;
    margin: 0;
}

.pacotes {

    width: 100%;
    margin: 0 0 88px 0;
}

.contato {

    width: 100%;
    margin: 0 0 88px 0;
}

.blog {

    width: 100%;
    margin: 0 0 88px 0;
}


.hero .hero-img, .bottom-hero .hero-img, .pacotes .hero-img, .bottom-hero-pacotes .hero-img, .contato .hero-img, .bottom-hero-contatos, .blog .hero-img{
    height: 400px;
    width: 100%;
}

.pacotes .hero-img {

    height: 460px;
}

.hero .hero-img {
    background: url(../img/hero-mobile.png) no-repeat;
    background-size: cover;
}

.bottom-hero .hero-img {
    background: url(../img/imagem-rodape-mobile.png) no-repeat;
    background-size: cover;
}

.pacotes .hero-img {

    background: url(../img/img-mobile-montanha.png) no-repeat;
    background-size: cover;
}

.contato .hero-img {

    background: url(../img/img-hero-contato-mobile.png);
    background-size: cover;
}

.blog .hero-img {

    background: url(../img/hero-mobile-blog.png) no-repeat;
    background-size: cover;
}

.bottom-hero-pacotes .hero-img {

    background: url(../img/img-rodape-mobile-japao.png) no-repeat;
    background-size: cover;
}

.bottom-hero-contatos {

    background: url(../img/img-footer-contato-mobile.png) no-repeat;
    background-size: cover;
}

.hero h2 {

    padding: 88px 24px;
    margin: 0px;
    font-weight: var(--text-weight);
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

.section-pacotes {

    box-sizing: border-box;
    padding: 65px 24px;
}

.section-pacotes h2{

    color: var(--text-secondary-color);
    font-size: 48px;
    font-weight: var(--title-weight);
}

.section-pacotes p {

    font-size: 20px;
    color: var(--text-secondary-color);
    font-weight: var(--text-weight);
    line-height: 32px;
}

.section-pacotes hr {

    width: 180px;
    height: 4px;
    background-color: var(--button-primary-color);
    border: none;
    margin: 16px 0px 32px;

}

.section-contato {

    box-sizing: border-box;
    padding: 65px 24px;
}

.section-contato h2{

    color: var(--text-secondary-color);
    font-size: 48px;
    font-weight: var(--title-weight);
}

.section-contato p {

    font-size: 20px;
    color: var(--text-secondary-color);
    font-weight: var(--text-weight);
    line-height: 32px;
}

.section-contato hr {

    width: 180px;
    height: 4px;
    background-color: var(--button-primary-color);
    border: none;
    margin: 16px 0px 32px;

}

.section-blog {

    box-sizing: border-box;
    padding: 65px 24px;
}

.section-blog h2{

    color: var(--text-secondary-color);
    font-size: 48px;
    font-weight: var(--title-weight);
}

.section-blog p {

    font-size: 20px;
    color: var(--text-secondary-color);
    font-weight: var(--text-weight);
    line-height: 32px;
}

.section-blog hr {

    width: 180px;
    height: 4px;
    background-color: var(--button-primary-color);
    border: none;
    margin: 16px 0px 32px;

}

@media screen and (min-width: 768px) {
    
    .hero .hero-img {

        height: 620px;
        background: url(../img/hero-tablet.png) no-repeat;
        background-size: cover;
    }

    .bottom-hero .hero-img {

        height: 400px;
        background: url(../img/imagem-rodape-tablet.png) no-repeat;
        background-size: cover;
    }

    .pacotes .hero-img {

        height: 620px;
        background: url(../img/img-tablet-montanha.png) no-repeat;
        background-size: cover;
    }

    .bottom-hero-pacotes .hero-img {
        height: 400px;
        background: url(../img/img-rodape-tablet-japao.png) no-repeat;
        background-size: cover;
    }

    .bottom-hero-contatos .hero-img {
        height: 600px;
        background: url(../img/img-footer-contato-tablet.png) no-repeat;
        background-size: cover;
    }

    .contato .hero-img {
        height: 620px;
        background: url(../img/img-hero-contato-tablet.png) no-repeat;
        background-size: cover;
    }

    .blog .hero-img {

        height: 620px;
        background: url(../img/hero-tablet-blog.png) no-repeat;
        background-size: cover;
    }

    .hero h2 {

        padding: 88px 60px;
        font-size: 32px;
        
    }

    .section-pacotes {

        padding: 150px 120px 170px;
        margin: 0;
    }

    .section-pacotes p {

        width: 570px;
    }

    .section-contato {

        padding: 183px 85px;
        margin: 0;

    }

    .section-contato p {

        width: 579px;
        font-size: 32px;
    }

    .section-blog {

        padding: 183px 85px;
        margin: 0;

    }

    .section-blog p {

        width: 579px;
        font-size: 32px;
    }

}

@media screen and (min-width: 1024px) {
    
    .hero .hero-img {

        background: url(../img/hero-desktop.png) no-repeat;
        background-size: cover;
    }

    .bottom-hero .hero-img {

        height: 600px;
        background: url(../img/imagem-rodape-desktop.png) no-repeat;
        background-size: cover;
    }

    .pacotes .hero-img {

        background: url(../img/img-desktop-montanha.png) no-repeat;
        background-size: cover;
    }

    .contato .hero-img {

        background: url(../img/img-hero-contato-desktop.png) no-repeat;
        background-size: cover;
    }

    .blog .hero-img {

        background: url(../img/hero-desktop-blog.png) no-repeat;
        background-size: cover;
    }

    .bottom-hero-pacotes .hero-img {
        height: 600px;
        background: url(../img/img-rodape-desktop-japao.png) no-repeat;
        background-size: cover;
    }   

     .bottom-hero-contatos .hero-img {
        margin-top: 100px;
        background: url(../img/img-footer-contato-desktop.png) no-repeat;
        background-size: cover;
    }

     .hero h2 {

        padding: 88px 120px;
        
    }

}

@media screen and (min-width: 1920px) {

    .hero .hero-img {

        background: url(../img/hero-desktop.png) no-repeat;
        background-size: cover;
    }

     .hero h2 {

        padding: 88px 160px;
        
    }
}