.offers-card {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.offers-card .card {

    color: var(--background-secondary-color);
    background-color: black;
    width: 312px;
    height: 288px;
    box-sizing: border-box;
    text-align: center;
    padding: 24px 16px;
    border-radius: 16px;
}

.offers-card .card header {

    display: block;
    background-color: transparent;
    position: static;
    padding: 0;
    margin-bottom: 24px;
}

.offers-card .card header p {

    font-size: 20px;
    font-weight: var(--text-weight);
}

.offers-card .card header h3 {

    font-size: 40px;
    font-weight: var(--title-weight);
    margin: 8px 0px 0px;
}

.card header span {

    display: inline-block;
    font-size: 32px;
    margin-top: 24px;
}

.offers-card .card.japao {

    background: url(../img/bg-card-japao.jpg) no-repeat;
    background-size: cover;
}

.offers-card .card.san-andreas {

    background: url(../img/bg-card-san-andreas.png) no-repeat;
    background-size: cover;
}

.offers-card .card.paraiba {

    background: url(../img/bg-card-paraiba.png) no-repeat;
    background-size: cover;
}

.offers-card .card.manaus {

    background: url(../img/bg-card-manaus.png) no-repeat;
    background-size: cover;
}

@media screen and (min-width: 728px) {

    .offers-card {

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media screen and (min-width: 1024px) {

    .offers-card .card {

        width: 420px;
        height: 308px;
    }

    .offers-card .card header h3 {

        font-size: 48px;
    }

    .offers-card .card header span {

        font-size: 40px;

    }

}

@media screen and (min-width: 1440px) {

    .offers-card .card {

        width: 588px;
    }
}

@media screen and (min-width: 1920px) {

    .offers-card {

        width: 1250px;
        margin: 0 auto;
    }

}