@import url(global.css);
@import url(header.css);
@import url(hero.css);
@import url(offers.css);
@import url(categories.css);
@import url(destination.css);
@import url(payments.css);
@import url(testmonials.css);
@import url(footer.css);
@import url(form.css);
@import url(blog.css);